* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Silkscreen, cursive;
    align-items: center;
}

#main-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.outer-grid-container {
    border: 2px solid red;
    box-sizing: content-box;
}

#settings-panel {
    border: 2px solid blue;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

button:not(.btn-group-btn) {
    width: 50%;
    border-radius: 10px;
    border: 2px solid #000000;
    font-family: Silkscreen, cursive;
}

#eraser-btn, #color-grabber-btn {
    background-color: red;
    color: #ffffff;
}


#clear-grid-btn {
    background-color: #ffffff;
}

#random-mode-btn {
    background: #ffffff;
    color: #000000;
}

button:not(.btn-group-btn):hover {
    cursor: pointer;
    box-shadow: 4px 4px 2px rgb(220, 220, 220);
}


.btn-group {
    display: flex;
}

.btn-group-btn {
    font-family: Silkscreen, cursive;
    border: 1px solid black; 
    padding: 10px 24px; 
    cursor: pointer; 
}

.btn-group-btn:first-child {
    background-color: rgb(100, 100, 100);
    color: white;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
}

.btn-group-btn:last-child {
    background-color: rgb(230, 230, 230);
    color: black;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
}

