* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Silkscreen, cursive;
}

#main-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.outer-grid-container {
    border: 2px solid red;
    box-sizing: content-box;
}

#settings-panel {
    border: 2px solid blue;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#eraser-btn {
    width: 50%;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;
    font-family: Silkscreen, cursive;
    color: white;
}

#eraser-btn:hover {
    cursor: pointer;
    box-shadow: 4px 4px 2px rgb(220, 220, 220);
}